.App {
  background-color: #000000;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.baseContainer{
  border: 1px solid rgb(143, 143, 143);
  width: 300px;
}

li{
  list-style: none;
  display: inline;
  border: 1px solid black;
  padding: 0 6px;
}
.contain{
  margin-bottom: 1px;
}

.btnNum{
  border: 1px solid rgb(143, 143, 143);
  background-color: rgb(0, 0, 0);
  padding: 8px;
  cursor: pointer;
}

.btnSym{
  border: 1px solid rgb(143, 143, 143);
  background-color: rgb(36, 36, 36);
  padding: 8px;
  cursor: pointer;
}

.btnEq{
  border: 1px solid rgb(143, 143, 143);
  background-color: rgb(100, 0, 0);
  padding: 8px;
  cursor: pointer;
}

.results{
  padding: 10px;
  text-align: right;
  font-size: 26px;
  border: 1px solid rgb(143, 143, 143);
  height: 30px;
}
